################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages
/MovieApp/bin/Debug
/MovieApp/obj/Debug
/MoviAppApi/bin/Debug
/MoviAppApi/obj/Debug
/MovieAppApi.Fixtures/bin/Debug
/MovieAppApi.Fixtures/obj/Debug
